<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui stackable three column grid">
        {{range .Items}}
            <div class="column">
                <div class="ui fluid image">
                    <img class="ui fluid image" src="/assets/images/cards/{{.Id}}.png">
                    <a class="ui teal tag label">{{.Name}}</a>
                </div>
            </div>
        {{end}}
    </div>
</body>
</html>